<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">
    <div class="lead ">
      Вы совершили <%= t(:error, count:errors.count) %>
    </div>

    <ul>
      <% errors.each do |error| %>
        <li><%= error.full_message %></li>

      <% end %>
    </ul>
  </div>
<% end %>