<%= render partial: 'partials/form_errors', locals: { model: @user } %>

<div class="row d-flex justify-content-center mt-5">
  <div class="col-md-4 align-self-center mt-3">
    <h1 class="text-center">Редактировать профиль: <%= @user.name %></h1>
    <%= render 'form' %>

    <p class="buffer-top">
      <%= link_to t('pages.user.change_pass_or_cancel'), edit_user_registration_path %>
    </p>

  </div>
</div>