<p>Привет! <%= @resource.email %>!</p>

<p>Вы запросили изменения пароля, воспользуйтесь ссылкой ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали восстановление пароля, то проигнорируйте это письмо</p>
